        /* Custom CSS for animations */
        .animated-text {
            font-size: 2rem;
            animation: fadeIn 1s ease-in-out;
        }

        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }

        .animated-image {
            animation: slideIn 1s ease-in-out;
        }

        @keyframes slideIn {
            from { transform: translateX(-100%); }
            to { transform: translateX(0); }
        }

        body {
            background-color: black;
            background-image: url('img/bg-banner2.jpg'); /* Change this to your image path */
            background-size: cover;
            background-position: center;
            animation: backgroundAnimation 10s infinite alternate;
        }

        @keyframes backgroundAnimation {
            0% { background-position: center; }
            100% { background-position: right; }
        }
     